.additional {
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.additional__wrapper {
  @include container();
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;

  & p, & a {
    @include font($font: $text, $size: 13px, $height: 24px);

    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: 0.5;
    color: $light-black;
  }

  & a {
    text-decoration: none;
  }
}

.additional__rights {
  flex-grow: 1;
}

.additional__company {
  flex-grow: 2;
}

.additional__conditions {
  flex-grow: 5.7;
}

@media(max-width: $desktop-width) {
  .additional__wrapper {
    padding: 21px 27px;
  }

  .additional__rights {
    display: none;
  }

  .additional__company {
    display: none;
  }
}
@media(max-width: $tablet-width) {
  .additional__wrapper {
    flex-direction: column;
    padding: 0;
    padding-top: 28px;
    align-items: center;
  }

  .additional__conditions {
    margin-bottom: 21px;
  }
}
