/*.board {
  background-color: ;
  background-image: url('../img/.jpg');
  background-size: ;
  background-position: ;

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/.jpg");
    background-size: ;
  }
}*/
