.board__wrapper {
  position: relative;
  padding-top: 179px;
  padding-left: 8px;
}

.board__title {
  @include font($font: $bold, $size: 80px, $height: 94px);

  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 27px;
  color: $white;
}

.board__description {
  @include font($font: $text, $size: 22px, $height: 34px);

  position: relative;
  max-width: 777px;
  padding-left: 97px;
  margin: 0;
  margin-bottom: 44px;
  color: $white;

  &:before {
    position: absolute;
    top: 17px;
    left: 3px;
    width: 66px;
    height: 2px;

    content: "";
    background-color: $white;
  }
}

.board__small {

  @include font($font: $text, $size: 14px, $height: 16px);

  position: absolute;
  bottom: -148px;
  left: -27px;
  opacity: 0.5;
  transform: rotate(-90deg);
  color: $white;
}

.board__btn {
  @include font($font: $bold, $size: 16px, $height: 19px);

  width: 407px;
  min-height: 55px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 0;
  margin-left: 97px;
  cursor: pointer;
  background-color: $blue;
  color: $white;

  &--mobile {
    display: none;
  }
}

@media(max-width: $desktop-width) {
  .board__wrapper {
    padding-top: 79px;
    padding-left: 75px;
  }

  .board__title {
    @include font($font: $bold, $size: 60px, $height: 70px);
    max-width: 400px;
    margin-bottom: 29px;
  }

  .board__description {
    @include font($font: $text, $size: 18px, $height: 28px);

    max-width: 410px;
    padding-left: 50px;
    margin-bottom: 55px;

    &:before {
      width: 33px;
      height: 2px;
    }
  }

  .board__small {
    display: none;
  }

  .board__btn {
    width: 379px;
    margin-left: 51px;

    &--mobile {
      display: none;
    }
  }
}

@media(max-width: $tablet-width) {
  .board__wrapper {
    padding-top: 232px;
    padding-left: 3px;
  }

  .board__title {
    @include font($font: $bold, $size: 40px, $height: 47px);
    max-width: 275px;
    margin-bottom: 26px;
  }

  .board__description {
    @include font($font: $text, $size: 16px, $height: 25px);

    min-width: 275px;
    padding-left: 50px;
    margin-bottom: 40px;

    &:before {
      width: 33px;
      height: 2px;
    }
  }

  .board__small {
    display: none;
  }

  .board__btn {
    display: none;
    width: 287px;
    margin-left: 3px;

    .board__btn-additional {
      display: none;
    }
  }

  .board__btn--mobile {
    display: block;
  }
}
