.company__wrapper {
  position: relative;
  padding-left: 194px;
  padding-right: 30px;


  &::before {
    position: absolute;
    top: 5px;
    left: -14px;
    width: 150px;
    height: 317px;
    content: "";
    background-image: url("../img/year.png");
    background-size: 220px 317px;
    background-repeat: no-repeat;
  }
}

@media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
  .company__wrapper::before {
    background-image: url("../img/year2x.png");
    background-size: cover;
  }
}

.company__title {
  @include font($font: $title, $size: 36px, $height: 51px);

  margin: 0;
  margin-bottom: 15px;
  color: $primary-grey;
  padding-left: 2px;
  font-weight: normal;
}

.company__description {
  @include font($font: $text, $size: 16px, $height: 22px);

  margin: 0;
  margin-bottom: 21px;
  color: $primary-grey;

  &-ellipsis {
    display: none;
  }

  &--partners {
    margin-bottom: 43px;
  }
}

.company__btn {
  @include font($font: $bold, $size: 14px, $height: 16px);

  width: 180px;
  min-height: 45px;
  padding: 0;
  margin-left: 2px;
  border: 1px solid $blue;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  color: $blue;

  transition: color 0.3s, background-color 0.3s;

  &:focus,
  &:hover {
    color: $white;
    background-color: $blue;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $desktop-width) {
  .company__wrapper {
    padding-left: 188px;
    padding-right: 0;

    &::before {
      top: 0;
      left: -33px;
      width: 250px;
      height: 360px;
      background-size: 100%;
    }
  }

  .company__title {
    @include font($font: $title, $size: 32px, $height: 45px);

    margin-left: -5px;
    margin-bottom: 25px;
  }

  .company__description {
    margin-bottom: 19px;

    &-more {
      display: none;
    }

    &-ellipsis {
      display: inline-block;
    }

    &--partners {
      margin-bottom: 43px;
    }
  }

  .company__btn {
    margin-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .company__wrapper {
    padding-left: 3px;

    &::before {
      display: none;
    }
  }

  .company__title {
    @include font($font: $title, $size: 28px, $height: 39px);

    margin-bottom: 20px;
  }

  .company__description {
    margin-bottom: 40px;

    &--partners {
      margin-bottom: 29px;
    }
  }

  .company__btn {
    margin-bottom: 64px;
    margin-left: 2px;
  }
}
