.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 333px;
}

.contacts__text {
  @include font($font: $title, $size: 15px, $height: 16px);

  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  padding-top: 17px;
  margin-bottom: 25px;
  color: $light-black;
}

.contacts__address {
  @include font($font: $text, $size: 15px, $height: 25px);

  font-style: normal;
  opacity: 0.5;
  color: $light-black;
}

.contacts__phone {
  @include font($font: $text, $size: 15px, $height: 25px);
  text-decoration: none;
  opacity: 0.5;
  color: $light-black;
}

@media(max-width: $desktop-width) {
  .contacts__text {
    padding-left: 2px;
  }

}
@media(max-width: $tablet-width) {
  .contacts {
    border-top: 1px solid rgba(98, 105, 98, 0.2);
  }
  .contacts__wrapper {
    padding-top: 11px;
    padding-left: 15px;
    margin: 0 auto;
  }

  .contacts__text {
    position: relative;
    margin-bottom: 32px;
    padding-left: 0;
    width: 290px;

    &:after {
      position: absolute;
      top: 17px;
      right: 0;
      width: 16px;
      height: 16px;
      content: "";
      cursor: pointer;
      background-image: url("../img/minus.svg");
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }
  }

  .contacts__address {
    width: 280px;
  }
}
