.contacts {
  width: 33.8%;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.contacts__text {
  @include font($font: $title, $size: 15px, $height: 16px);

  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  padding-top: 17px;
  padding-left: 5px;
  margin-bottom: 25px;
  color: $light-black;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contacts__address {
  @include font($font: $text, $size: 15px, $height: 25px);

  font-style: normal;
  opacity: 0.5;
  color: $light-black;
}

.contacts__phone {
  @include font($font: $text, $size: 15px, $height: 25px);
  text-decoration: none;
  opacity: 0.5;
  color: $light-black;

  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $blue;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.contacts__btn {
  display: none;
}

.contacts__content.closed {
  display: flex;
  flex-direction: column;
}

@media (max-width: $desktop-width) {
  .contacts {
    width: 50%;
  }

  .contacts__text {
    padding-left: 2px;
  }

  .contacts__wrapper {
    flex-direction: column;
    padding-left: 15px;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    width: 100%;
    border-top: 1px solid rgba(98, 105, 98, 0.2);
  }

  .contacts__wrapper {
    padding: 0;
  }

  .contacts__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 29px 15px 26px;
    cursor: pointer;

    &:focus .contacts__text,
    &:hover .contacts__text {
      color: $blue;
    }
  }

  .contacts__content {
    display: flex;
    flex-direction: column;
    padding: 6px 15px 26px;

    &.accordeon-closed {
      display: none;
    }
  }

  .contacts__text {
    padding: 0;
    margin: 0;
    transition: color 0.3s;
  }

  .contacts__btn {
    display: block;
    cursor: pointer;
    border: none;
    padding: 0;
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("../img/minus.svg");
    background-size: 16px 2px;
    background-position: 50% 50%;

    &.accordeon-btn--hide {
      background-image: url("../img/plus.svg");
      background-size: 16px 16px;
      background-position: 50% 50%;
    }
  }

  .contacts__address {
    width: 280px;
  }
}
