.footer__wrapper {
  @include container();

  max-width: 1480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 48px 37px 59px 22px;
}

.footer__top-content {
  width: 30.5%;
}

.footer__middle-content {
  width: 69.5%;
  display: flex;
}

.footer__company {
  display: none;
}

@media (max-width: $desktop-width) {
  .footer__company {
    @include font($font: $text, $size: 13px, $height: 24px);

    display: flex;
    align-items: center;
    width: 39.7%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0;
    padding-top: 20px;
    color: $light-black;

    opacity: 0.5;
  }

  .footer__wrapper {
    flex-direction: column;
    padding: 0;
  }

  .footer__top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 2px 14px 23px;
  }

  .footer__middle-content {
    width: 100%;
    padding: 21px 25px 35px;
    border-top: 1px solid rgba(98, 105, 98, 0.2);
  }
}

@media (max-width: $tablet-width) {
  .footer__top-content {
    flex-direction: column;
    padding-top: 27px;
    padding-bottom: 49px;
  }

  .footer__company {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 15px;
  }

  .footer__middle-content {
    padding: 0;
    flex-direction: column;
  }
}
