.footer__wrapper {
  @include container();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 48px 0 58px;
  background-color: $white;
}

.footer__top-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.footer__middle-content {
  display: flex;

  width: 69.55%;
}

@media (max-width: $desktop-width) {
  .footer__wrapper {
    padding-top: 2px;
    padding-bottom: 36px;
  }

  .footer__top-content {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 27px 24px 14px;
  }

  .footer__middle-content {
    border-top: 1px solid rgba(98, 105, 98, 0.2);
    padding: 21px 38px 0 25px;
    flex-grow: 1;
  }
}

@media (max-width: $tablet-width) {
  .footer__wrapper {
    padding-bottom: 26px;
  }

  .footer__top-content {
    flex-direction: column;
    padding: 32px 0 49px 20px;
  }

  .footer__middle-content {
    flex-direction: column;
    padding: 0;
  }
}
