.header {
  position: relative;
    background-color: rgb(27, 45, 55);
    background-image: url('../img/bg-header.jpg');
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/bg-header2x.jpg");
    }
}

.header__wrapper {
  @include container();
  min-height: 885px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20px;
}

@media(max-width: $desktop-width) {
  .header {
    background-image: url('../img/bg-header-tablet.jpg');

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/bg-header-tablet2x.jpg");
    }
  }

  .header__wrapper {
    min-height: 691px;
    padding-top: 7px;
    padding-left: 14px;
    padding-right: 8px;
  }
}

@media(max-width: $tablet-width) {
  .header {
    background-image: url('../img/bg-header-mobile.jpg');

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/bg-heabg-header-mobile2x.jpg");
    }
  }

  .header__wrapper {
    min-height: 652px;
  }
}
