/*

<div class="info">
  <a href="mailto:info@sd.ru" class="info__link info__link--mail">info@sd.ru</a>
  <a href="tel:+7(495)0005252" class="info__link info__link--phone">+7 (495) 000 52 52</a>
  <button type="button" class="info__btn">Заказать звонок</button>
</div>

.info {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding-top: 20px;
}

.info__link {
  @include font($font: $text, $size: 16px, $height: 18px);
  position: relative;
  text-decoration: none;
  padding-left: 40px;
  color: $white;

  &--mail {
    width: 148px;
    margin-right: 70px;

    &:before {
      position: absolute;
      top: 2px;
      left: 1px;
      width: 19px;
      height: 14px;
      content: "";
      background-image: url("../img/mail.svg");
      background-size: 19px 14px;
      background-repeat: no-repeat;
    }
  }

  &--phone {
    width: 230px;
    margin-right: 29px;

    &:before {
      position: absolute;
      top: -1px;
      left: 6px;
      width: 18px;
      height: 18px;
      content: "";
      background-image: url("../img/phone.svg");
      background-size: 18px 18px;
      background-repeat: no-repeat;
    }
  }


}

.info__btn {
  @include font($font: $bold, $size: 14px, $height: 16px);

  width: 180px;
  min-height: 45px;
  padding: 0;
  border: 1px solid $white;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  background-color: transparent;
  color: $white;
}

@media(max-width: 1024px) {
  .info__link {

    &--mail, &--phone {
    display: none;
    }
  }
}
*/
