.logo {
  outline: 1px solid black;
  width: 30%;
}

.logo__wrapper {
  position: relative;
  padding-top: 23px;
  padding-left: 80px;

  &:before {
    position: absolute;
    top: 17px;
    left: 11px;
    width: 52px;
    height: 52px;
    content: "";
    background-image: url("../img/circuit.svg");
    background-size: 52px 52px;
    background-repeat: no-repeat;
  }
}

.logo__title {
  @include font($font: $bold, $size: 25px, $height: 29px);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $white;

  &--footer {
      color:$logo-footer;
      display: block;
      margin-bottom: 1px;
  }
}

.logo__description {
  @include font($font: $special, $size: 12px, $height: 14px);

  margin: 0;
  font-weight: 500;
  color: $light-grey;
}

.logo__wrapper--footer {
  margin-bottom: 3px;
  padding-left: 78px;
}

@media(max-width: $tablet-width) {
  .logo {
    width: 50%;
  }

  .logo__wrapper {
    width: 50%;

    &:before {
    top: 12px;
    left: 5px;
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
    }
  }

  .logo__title,
  .logo__description {
    display: none;
  }

  .logo__wrapper--footer {
    padding-left: 74px;
    padding-top: 18px;
    margin-bottom: 67px;

    & .logo__title,
    & .logo__description {
      display: block;
    }

    &:before {
    top: 12px;
    left: 5px;
    width: 52px;
    height: 52px;
    background-size: 52px 52px;
    }
  }
}
