.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal--closed {
  display: none;
}

.modal__wrapper {
  @include container();

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 605px;
  width: 490px;
  padding: 30px 40px;
  background-color: $blue;
}

.modal__header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal__closeBtn {
  position: absolute;
  top: -10px;
  right: -20px;
  cursor: pointer;
}

.modal__title {
  @include font($font: $title, $size: 28px, $height: 39px);

  margin: 0;
  margin-bottom: 12px;
  font-weight: normal;
  color: $white;
}

.modal__description {
  @include font($font: $text, $size: 16px, $height: 22px);

  max-width: 385px;
  margin: 0;
  margin-bottom: 30px;
  color: $white;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  border: none;
  min-height: 51.83px;
  padding-left: 24px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  color: $white;
}

.modal__input::placeholder {
  @include font($font: $text, $size: 16px, $height: 22px);

  color: $white;
}

.modal__text {
  @include font($font: $text, $size: 16px, $height: 22px);

  height: 104px;
  padding-top: 12px;
  padding-left: 24px;
  margin-bottom: 33px;
  border: none;
  resize: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: $white;

  &::placeholder {
    color: $white;
  }
}

.modal__form-btns {
  display: flex;
  flex-direction: column;
}

.modal__accept {
  display: none;
}

.modal__accept:checked + .modal__checkbox:before  {
  background-image: url("../img/accept.svg");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal__checkbox {
  @include font($font: $text, $size: 14px, $height: 16px);

  position: relative;
  max-width: 350px;
  opacity: 0.8;
  padding-left: 47px;
  margin-top: 8px;
  cursor: pointer;
  color: $white;

  order: 2;

  &:before {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    content: "";
    border: 1px solid #FFFFFF;
  }
}

.modal__submit {
  @include font($font: $bold, $size: 14px, $height: 16px);

  min-height: 46.65px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 26px;
  cursor: pointer;
  background-color: transparent;
  color: $white;
  transition: color 0.3s, border 0.3s;

  &:focus,
  &:hover {
    color: $blue;
    background-color: $white;
  }

  &:active {
    opacity: 0.5;
  }
}

@media(min-width: $desktop-width) {

}
@media(min-width: $tablet-width) {

}
