.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}


.modal__wrapper {
  @include container();

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 605px;
  width: 490px;
  text-align: center;
  background-color: $blue;
}

.modal--closed {
  display: none;
}
