.nav {
  display: flex;
  justify-content: space-between;
}


.nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding-top: 20px;
}

.nav__item {
  position: relative;

  &--mail {
    margin-right: 82px;

    &:before {
      position: absolute;
      top: 2px;
      left: 1px;
      width: 19px;
      height: 14px;
      content: "";
      background-image: url("../img/mail.svg");
      background-size: 19px 14px;
      background-repeat: no-repeat;
    }
  }

  &--phone {
    margin-right: 47px;

    &:before {
      position: absolute;
      top: -1px;
      left: 6px;
      width: 18px;
      height: 18px;
      content: "";
      background-image: url("../img/phone.svg");
      background-size: 18px 18px;
      background-repeat: no-repeat;
    }
  }
}

.nav__link {
  @include font($font: $text, $size: 16px, $height: 18px);
  position: relative;
  text-decoration: none;
  padding-left: 40px;
  color: $white;

  &--mail {
    width: 250px;
  }

  &--phone {
    width: 250px;
  }
}

.nav__btn {
  @include font($font: $bold, $size: 14px, $height: 16px);

  display: block;
  width: 180px;
  min-height: 45px;
  padding: 0;
  padding-top: 13px;
  border: 1px solid $white;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: $white;
}

@media(max-width: 1024px) {

  .nav__list {
    padding-top: 0;
  }
  .nav__item {
    &--mail {
      &:before{
        width: 25.33px;
        height: 18.67px;
        top: -1px;
        left: 29px;
        background-size: 25.33px 18.67px;
      }
    }
    &--phone {
      &:before{
        width: 24px;
        height: 24px;
        top: -4px;
        background-size: 24px 24px;
      }
    }
  }
  .nav__link {
    display: none;

    &--mail {

    }

    &--phone {

    }
  }
  .nav__btn {
    display: none;
  }
}

@media(max-width: $tablet-width) {
  .nav {
    width: 100%;
  }

  .nav__list {
    padding-top: 20px;
  }

  .nav__item {
    &--mail {
      &:before{
        top: 0;
        left: -30px;
      }
    }
    &--phone {
      &:before{
        top: -5px;
        left: 19px;
      }
    }
  }
}
