.presentation {
  background-color: $white;
  background-image: url("../img/bg-presentation.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/bg-presentation2x.jpg");
  }
}

.presentation__wrapper {
  @include container();
  padding: 105px 0 109px;
}

.presentation__box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

.presentation__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 75px;
  padding: 0;
  justify-content: center;
}

.presentation__company {
  max-width: 100%;
}

.presentation__item {
  position: relative;
  width: 47.5%;
  min-height: 299px;
  border: 1px solid #ebebeb;
  border-left: 3px solid $blue;
  margin-bottom: 30px;
  margin-right: 30px;
  padding: 39px 10px 65px 42px;
  cursor: pointer;
  background-color: $white;
  transition: background-color 0.5s;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &--detective {
    padding-top: 43px;
  }

  & svg {
    fill: $blue;
    margin-bottom: 16px;
  }

  &-icon--stopwatch {
    width: 29px;
    height: 35px;
  }

  &-icon--hired {
    width: 35px;
    height: 35px;
  }

  &-icon--detective {
    width: 36px;
    height: 31px;
  }

  &-icon--tag {
    width: 35px;
    height: 35px;
  }

  &:hover,
  &:focus {
    background-color: $blue;

    .presentation__theme {
      color: $white;
    }

    .presentation__description {
      color: $white;
    }

    & svg {
      fill: $white;
    }
  }
}

.presentation__theme {
  @include font($font: $title, $size: 24px, $height: 34px);

  margin: 0;
  margin-bottom: 15px;
  color: $blue;
}

.presentation__description {
  @include font($font: $text, $size: 16px, $height: 22px);

  margin: 0;
  color: $primary-grey;
  transition: color 0.6s;
  padding-right: 25px;

  &--partners {
    padding-right: 0;
  }
}

@media (max-width: $desktop-width) {
  .presentation {
    background-image: url("../img/bg-presentation-tablet.jpg");

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/bg-presentation-tablet2x.jpg");
    }
  }

  .presentation__wrapper {
    padding: 53px 25px 82px;
  }

  .presentation__box {
    padding: 0;
  }

  .presentation__item {
    padding: 25px 10px 19px 25px;

    & svg {
      margin-bottom: 3px;
    }

    &--hired svg {
      width: 31.72px;
      height: 32.18px;
      margin-bottom: 5px;
    }

    &--detective,
    &--tag {
      min-height: 232px;
    }

    &--tag {
      & .presentation__theme {
        margin-bottom: 5px;
      }

      & svg {
        width: 32.18px;
        height: 32.18px;
        margin-bottom: 6px;
      }
    }

    &--detective {
      padding-top: 26px;
      padding-left: 25px;

      & .presentation__theme {
        margin-bottom: 15px;
      }

      & svg {
        width: 30.31px;
        height: 26.1px;
        margin-bottom: 8px;
      }
    }
  }

  .presentation__theme {
    @include font($font: $title, $size: 24px, $height: 34px);

    margin-bottom: 9px;
  }

  .presentation__list {
    margin-bottom: 27px;
  }

  .presentation__description {
    padding-right: 15px;
  }

  .presentation__company {
    padding: 0;
  }
}

@media (max-width: $tablet-width) {
  .presentation {
    background-image: url("../img/bg-presentation-mobile.jpg");

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/bg-presentation-mobile2x.jpg");
    }
  }

  .presentation__wrapper {
    padding: 36px 16px 0 13px;
  }

  .presentation__list {
    flex-direction: column;
    margin-bottom: 37px;
  }

  .presentation__item {
    width: 100%;
    padding: 25px 10px 25px 25px;
    margin-bottom: 20px;

    & svg {
      margin-bottom: 8px;
    }

    &--stopwatch {
      & svg {
        width: 29.28px;
        height: 35.46px;
      }
    }

    &--hired {
      padding-bottom: 24px;
      padding-top: 21px;
      margin-bottom: 20px;

      & svg {
        margin-bottom: 12px;
      }
    }

    &--detective {
      padding-top: 27px;
      padding-bottom: 18px;
      margin-bottom: 20px;

      & .presentation__theme {
        margin-bottom: -7px;
      }
    }

    &--tag {
      padding-top: 23px;
      padding-left: 26px;
      padding-bottom: 26px;

      & .presentation__theme {
        margin-bottom: 11px;
      }
    }
  }

  .presentation__theme {
    @include font($font: $title, $size: 20px, $height: 28px);

    width: 95%;
    margin-bottom: 9px;
  }

  .presentation__description {
    padding-right: 5px;

    &--partners {
      padding-right: 0;
    }
  }
}
