.products {
  background-color: $light-black;
  min-height: 938px;
}

.products__wrapper {
  @include container();
  padding: 89px 0 125px;
  padding-left: 134px;
}

.products__description {
  @include font($font: $title, $size: 36px, $height: 51px);

  max-width: 817px;
  margin: 0;
  margin-bottom: 52px;
  color: $white;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;}

.products__item {
  position: relative;
  width: 28.7%;
  min-height: 620px;
  background-size: cover;
  background-position: 50% 50%;
  margin-right: 30px;

  &--production {
    background-image: url("../img/production1x.jpg");

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/production2x.jpg");
    }
  }

  &--mounting {
    background-image: url("../img/mounting1x.jpg");

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/mounting2x.jpg");
    }
  }

  &--components {
    background-image: url("../img/components1x.jpg");

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/components2x.jpg");
    }
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  transition: box-shadow 0.3s;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 5px $blue;
  }

  &:active {
    opacity: 0.5;
  }
}

.products__link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: $white;

  z-index: 1;


}

.products__text {
  @include font($font: $title, $size: 20px, $height: 30px);

  max-width: 210px;
  padding-top: 50px;
  padding-left: 43px;
  margin: 0;
}

.products__more {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: $blue;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    content: "";
    background-image: url("../img/arrow-right.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }
}

@media(max-width: $desktop-width) {
  .products__wrapper {
    padding: 51px 25px 33px;
  }

  .products__description {
    max-width: 613px;
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 50px;
  }

  .products__item {
    width: 100%;
    min-height: 256px;
    margin-right: 0;
    margin-bottom: 45px;

    &--components {
      & .products__text {
        padding-top: 53px;
        padding-left: 46px;
      }
    }
  }

  .products__text {
    padding-top: 40px;

    &--components {
      padding-top: 50px;
    }
  }

  .products__item {

    &--production {
      background-image: url("../img/production-tablet1x.jpg");

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/production-tablet2x.jpg");
      }
    }

    &--mounting {
      background-image: url("../img/mounting-tablet1x.jpg");

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/mounting-tablet2x.jpg");
      }
    }

    &--components {
      background-image: url("../img/components-tablet1x.jpg");

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/components-tablet2x.jpg");
      }
    }
  }

}

@media(max-width: $tablet-width) {
  .products__wrapper {
    padding: 50px 15px 35px;
  }
  .products__description {
    font-size: 28px;
    padding-left: 10px;
    margin-bottom: 42px;
  }

  .products__text {
    padding-top: 20px;
    padding-left: 35px;

    &--components {
      padding-top: 30px;
    }
  }

  .products__item {
    min-height: 256px;
    margin-right: 0;
    margin-bottom: 30px;

    &--components {
      & .products__text {
        padding-top: 30px;
        padding-left: 35px;
      }
    }
  }

  .products__item {

    &--production {
      background-image: url("../img/production-mobile1x.jpg");

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/production-mobile2x.jpg");
      }
    }

    &--mounting {
      background-image: url("../img/mounting-mobile1x.jpg");

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/mounting-mobile2x.jpg");
      }
    }

    &--components {
      background-image: url("../img/components-mobile1x.jpg");

      @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
        background-image: url("../img/components-mobile2x.jpg");
      }
    }
  }
}
