.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-top: 55px;
}

.social__item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {


  & svg {
     fill: $social;
     transition: fill 0.3s;
  }

  &:hover svg,
  &:focus svg {
    fill: $blue;
  }

  &:active svg {
    opacity: 0.5
  }
}

@media(max-width: $desktop-width) {
  .social__list {
    padding: 0;
    align-items: center;
    padding-top: 18px;
  }

  .social{
    width: 18%;
    display: flex;
    justify-content: center;
  }
}

@media(max-width: $tablet-width) {
  .social {
    width: 100%;
  }
}
