//fonts

$text: "PTMono-Regular";
$title: "RobotoCondensed-Regular";
$bold: "RobotoCondensed-Bold";
$special: "Roboto-Regular";

// colors

$white: #ffffff;
$light-grey: #788891;
$primary-grey: #666666;
$light-black: #1B2D37;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
